body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #ffffff;
}

.main-header {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    height: 100px;
}


@media (max-width: 800px) {
    .main-header {
        /* height: 50px;
        background-color: black; */
    }
}

.header-container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.action-btns {
    display: flex;
    gap: 20px;
}

.content-layout{
    display: flex;
    max-width: 1200px;
    margin: 0 auto; 
}

.login-area{
    width: 50%;
}

.image-area{
    width: 50%;
}

@media (max-width: 800px) {
    .content-layout{
        flex-direction: column;
    }

    .login-area{
        width: 100%;

    }
    
    .image-area{
        width: 100%;
    }
}

.large-text {
    width: 50%;
    background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    /* font-family: Inter; */
    font-family: Calibre;
    font-size: 70px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text{
    width: 480px;
    font-weight: bold;
    letter-spacing: normal;
    height: 49px;
    margin-top: 200px;
    text-align: left;
    margin-left: 3px;

}
.login-1{
    width: 375px;
    height: 37px;;
    position: absolute;
    margin: 14px 179px 14px 360px;
    padding: 10px;
    margin-left: -6px;
    color: #000; 
    margin-top: 250px;
}
  input[type=text]:focus {
    border: 2px solid #555;
  }

  .chat-image {
    width: 100%;
  }